images/
.DS_Store
.ipynb_checkpoints
data
output
debug
*.pyc
deep-head-pose
EvalImages
cache*
*.pkl
gif
archive
*.ply
eval
out

# evaluation:
temp/
shapes/
imgs/
vids/
*.mp4

stylegan3/results
eg3d/results
eg3d_results

*.png
*.npy
*.jpg
*.tar
*.npz
*.obj

dataset_preprocessing/
eg3d/exps
eg3d/inthewild.zip
eg3d/inthewild_data/
eg3d/ffhq/
eg3d/style_mixing.zip
eg3d/ffhq-dataset-v2.json
eg3d/dataset_dict.json
dataset_preprocessing/ffhq/Deep3DFaceRecon_pytorch
dataset_preprocessing/ffhq/
dataset_preprocessing/ffhq/Deep3DFaceRecon_pytorch
eg3d/training-runs-AE_nogan_11-16/
eg3d/training-runs-AE_nogan_11-21/
eg3d/training-runs-AE_nogan_11-22/
eg3d/training-runs-AE_nogan_11-22_lrx1/
eg3d/training-runs-AE_nogan_11-22_lrx2/
eg3d/training-runs-AE_nogan_11-22_lrx5/
eg3d/training-runs-E_warmup_w++_1129/
eg3d/training-runs-MFIM_nogan_11-16/
eg3d/training-runs-MFIM_nogan_11-21/
eg3d/training-runs-MFIM_nogan_11-22/
eg3d/training-runs-MFIM_nogan_11-23_+deca/
eg3d/training-runs-MFIM_nogan_11-23_+deca_idloss_fix/
eg3d/training-runs-ae_new_1129/
eg3d/training-runs-ae_new_128_w+_1129/
eg3d/training-runs-ae_new_64_1129/
eg3d/training-runs-mfim-gan-id-deca-l1-vgg/	
eg3d/training-runs-mfim-gan-id-deca-l1-vgg/
eg3d/ae_new_128_w+_Platon/
eg3d/ae_new_128_w+_Platon_boost_recon/
eg3d/ae_new_128_w+_Platon_boost_recon_degrage_gan/
eg3d/ae_new_128_w+_Platon_boost_recon_degrage_gan_roll_stopgrad/
eg3d/ae_new_128_w+_Platon_boost_recon_degrage_gan_supperrecon/
eg3d/ae_new_128_w+_Platon_from_warmup/
